/**/**/*.iml
/logs/
/.idea/
/**/**/target/
**/**/**/.settings
/.settings/
/.project
/docker/nacos/logs/
/docker/mysql/data/
/**/**/**/**/**/*.jar
/**/**/.classpath
/**/**/.project
/docker/nginx/logs/
/**/**/logs/
